.main {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: repeat;
  position: relative;
}

.main::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.main * {
  position: relative;
  z-index: 2;
}

.main h1, .main h2 {
  color: white;
}

.main h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
